Allow multiple tokens in the Authorization header

I'm submitting a ... <!-- check one with "x" -->

* [x] bug report
* [ ] feature request
* [ ] question <!-- alternatively, ask on Gitter (https://gitter.im/graphile/postgraphile) -->

PostGraphile version:
4.0.0-rc.2
<!-- CLI: `postgraphile --version`; Library: package version -->

<!--
  For bug reports, please complete the rest of this form.
  For all other issues, you can delete the rest of this form.
-->

Steps to reproduce:
Ping a postgraphile server with multiple tokens in the `Authorization` header field.

<!-- Please describe how you are running PostGraphile (CLI: full `postgraphile` command line; Library: relevant code) and include any relevant GraphQL queries that demonstrate the issue. -->

Current behavior:
The regex in `createPostGraphileHttpRequestHandler.js` called `authorizationBearerRex` is too limiting as it does not accept a comma-separated list nor does it fail gracefully.

Expected behavior:
The http request handler should be abled to handle a command separated list in the Authorization header of incoming requests (https://tools.ietf.org/html/rfc7230#section-3.2.2). Not a big deal for the cli, but kindof annoying when doing multiple OAuth things with the postgraphile library.

I think you're misreading the spec; I believe that we are HTTP spec compliant. Allow me to explain my working:

From that section (emphasis mine):

> A sender MUST NOT generate multiple header fields with the same field
>   name in a message unless either **the entire field value for that
>   header field is defined as a comma-separated list** [i.e., #(values)]
>   or the header field is a well-known exception (as noted below).

The `Bearer` token is specified in [RFC6750 section 2.1](https://tools.ietf.org/html/rfc6750#section-2.1):

> ```
> b64token    = 1*( ALPHA / DIGIT /
>                     "-" / "." / "_" / "~" / "+" / "/" ) *"="
>   credentials = "Bearer" 1*SP b64token
> ```

(Note this `b64token` spec is what our `authorizationBearerRegex` implements)

Further RFC6750 states 'The syntax of the "Authorization" header field for this scheme follows the usage of the Basic scheme defined in Section 2 of   [RFC2617].'

Section 2 of RFC2617 inherits from section 1.2, which states (emphasis mine):

> It uses an extensible,
>   **case-insensitive token** to identify the authentication scheme,
>   **followed by a comma-separated list of attribute-value pairs** which
>   carry the parameters necessary for achieving authentication via that
>   scheme.
>
> ```
> auth-scheme    = token
> auth-param     = token "=" ( token | quoted-string )
> ```
>
> -- https://tools.ietf.org/html/rfc2617#section-1.2

Given the "case-insensitive token [...] followed by a comma separated list" it's clear that only part of the field value (the part after the case-insensitive token) is a comma-separated list, and hence the check "the **entire field value** for that header field is defined as a comma-separated list" is not true for the Authorization header. And thus the part of section 3.2.2 that you're referring to does not apply. So according to this, we are compliant in our current behaviour.

I've edited the title of your post from `Allow multiple tokens in the Authorization header to meet HTTP spec` to `Allow multiple tokens in the Authorization header` so that people are not concerned that we don't adhere to the HTTP spec.

---

Now that's out of the way, could you share exactly what you're doing and how you expect it to work? (If you could also share any documentation around what you're doing, e.g. RFCs or articles telling you to do it that way, that would be super helpful.) It's likely that we could make a change to enable what you want, all I'm saying in the above is that your claim that we are not HTTP spec compliant is incorrect.

Interestingly the word "comma" doesn't seem to be mentioned at all in RFC6750.

Yes, I agree with your reasoning. I based my conclusion off of (https://stackoverflow.com/questions/29282578/multiple-http-authorization-headers); however, it looks like the comma-separation is not strictly the HTTP standard for the Authorization header. RFC 2616 4.2 is the better source as it is very explicit (https://www.ietf.org/rfc/rfc2616.txt):
> Multiple message-header fields with the same field-name MAY be
   present in a message if and only if the entire field-value for that
   header field is defined as a comma-separated list [i.e., #(values)].
   It MUST be possible to combine the multiple header fields into one
   "field-name: field-value" pair, without changing the semantics of the
   message, by appending each subsequent field-value to the first, each
   separated by a comma.

Since the Authorization field-value is not entirely a comma sperated list as you meantioned above, we cannot have multiple Authorization headers and thus no comma separation. 

My ideal case is that we should be able to put in a comma separated list of field-values (e.g., ``Bearer [b64token1], Bearer [b64token2], Basic [b64token3]``) and that postgraphile only picks up the JWT token with the ``aud: 'postgraphile'`` set. https://jwt.io/introduction/ provides an example of where you might want to have a jwt token for another external service used in the graphql schema in addition to the jwt for postgraphile. Without the comma-separation, it just means that we will have to have custom header values and some intermediate parsing -- not a big deal, was just trying to avoid maintaining documentation for custom header support on my end.

However, I don't think that warrants a change to comma-separated support as I think the current implementation is justified. The one thing that I would push back on is throwing an error if the Authorization header doesn't meat that particular regex. I might be using an Authorization scheme somewhere else in my graphql schema, not necessarily for postgraphile. Thoughts?


For example, the mdn docs reference the lists of acceptable schemes https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization.

So my thoughts on this are: I think you should bypass the JWT-parsing features in PostGraphile and instead implement it yourself using [`pgSettings`](https://www.graphile.org/postgraphile/usage-library/#pgsettings-function) - this allows you to process arbitrary headers into arbitrary Postgres settings. One caveat to this is if you're generating JWT within PostGraphile; I'm not sure if it handles JWT generation if the JWT parsing is not enabled.

Gotchya. That sounds like a good strategy. Before closing this issue, do you think that the requestHandler should be modified to not hard fail (maybe just issue a warning) on Authorization headers with different schemes?

Maybe. If it’s valid to have no JWT then it’s probably safe to treat invalid authentication as no authentication. That said, being explicit and stating that invalid (or not understood) stuff is being sent to the server helps avoid the head scratching that comes from being sure you’re sending auth but the server not seeming authed (because you accidentally wrote “Basic” instead of “Bearer” and didn’t spot it). In general having it throw an error seems to reduce my issue load, and helps beginners, but it does feel “wrong”. I’m on the fence, so I’ve stuck with the status quo.

I don't have a strong opinion on the requestHandler front. Changing it could be perceived as a breaking change, so I'm inclined to leave it as-is. If someone wants to convince me otherwise, a good first step would be a PR proof-of-concept. Closing for now to keep things manageable.